h1{
	text-align: center;
	font-size: 50px;
	color: #000000;
	font-family: helvetica, arial, sans-serif;
}

#slogan{
	font-style: italic;
	font-size: 30px;
	color: #FFFFFF;
	font-weight: bold;
	font-family: helvetica, arial, sans-serif;
	text-align: center;
}

body {
	background: url(http://i.imgur.com/EM9UY3x.jpg);
	background-size: cover;
	text-align: center;
	color: #FFFFFF;
	font-size: 23px;
	font-family: helvetica, arial, sans-serif;
}

#bulletpoint{
	text-align: left;
	color: #FFFFFF;
	font-size: 20px;
}