body {
	background-color: url("http://i.imgur.com/EM9UY3x.jpg");
	background-size: cover;
	color: #000000;
	font-family: helvetica, arial, sans-serif;
	font-size:16px;
	text-align:center;
}

h1 {
	color: #000000;
	font-family: helvetica, arial, sans-serif;
	font-size: 26px;
	text-align: center;
}

#slogan {
	font-size: 23px;
	font-weight: bold;
}