body {
	background-color: #FFFFFF;
	color: #000000;
	font-family: helvetica, arial, sans-serif;
	font-size:16px;
	text-align:center;
}

#headerphoto {
	position: fixed;
	top: 0;
	left: 0;
min-width: 100%;
	min-height: 100%;
}

h1 {
	color: #000000;
	font-family: helvetica, arial, sans-serif;
	font-size: 26px;
	text-align: center;
}

#slogan {
	font-size: 23px;
	font-weight: bold;
}