* { margin:0;padding:0;box-sizing:border-box; }

body{
	font-family: helvetica, verdana, sans-serif;
	font-size: 16px;
	
}

h1, h2 {
	text-transform: uppercase;
	border-bottom: 3px solid black;
	display: inline-block;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.5em;
	padding: .8em 0;
	color: black;
	border-bottom-color: black;
}

img {
  width:100%;
  height:auto;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
	display: inline;
	float: left;
}

a {
	width: auto;
	background color: black;
}

header nav a {
	background-color: black;
	border: white solid 1px;
	color: #fff;
	float: left;
	margin: 0;
	padding: 1em;
	text-decoration: none;
}

section#splash {
	padding: 1em;
	margin: 0;
}

p#slogan {
	text-align: center;
	padding: 1em;

}

div {
	font-size 1.2em;
	width: 50%;
}

section.rockonly {
	padding: 3em;
	margin: 3em;
}

#rock {
	float: left;
}

#rockimg {
	float: right;
	width: 50%;
	height: 50%;
}

.clearfix:after { 
	content: "."; 
	visibility: hidden; 
	display: block; 
	height: 0; 
	clear: both;
}