@import url(http://fonts.googleapis.com/css?family=Lekton:400,700,400italic);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic);
* { margin:0;padding:0;box-sizing:border-box; }

body{
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 16px;
	background-color: white;
	
}

h1, h2 {
	text-transform: uppercase;
	display: inline-block;
}

h1 {
	font-size: 2em;
	text-align: center;
	padding: .8em 0;
	font-family: 'Lekton', sans-serif;
}

h2 {
	font-size: 1.5em;
	padding: .8em 0;
	color: black;
	border-bottom-color: black;
	text-align: center;
}

img {
  width:80%;
  height:80%;
}


#nav {
	width:825px;
	margin:0 auto;
	list-style:none;
}

#nav li {
	float:left;
}

#nav a {
	display:block;
	text-align:center;
	width:120px; 
	text-decoration:none; 
}

header nav a {
	background-color: black;
	border: white solid 1px;
	color: #fff;
	float: left;
	position: relative;
	left: 50%;
	margin: 0;
	padding: 1em;
	text-decoration: none;
	text-align: center;
}

#logo {
	margin-left: auto;
	margin-right: auto;
	width: 10%;
}

section {
	padding:7em 0 7em 0;
	margin: 3em 0 3em 0;
	font-family: 'Open Sans Condensed', sans-serif;
}

section#splash {
	padding: 1em;
	margin: 0;
	text-align: center;
}

p#slogan {
	text-align: center;
	padding: 1em;
	display: inline-block;
	margin: 1em;
	border: black 1px solid;
	font-size: 1.5em;
	font-style: italic;
	font-weight: bold;
  }

#video {
	margin-left: auto;
	margin-right: auto;
	width: 70%;
}

p#intro {
text-align: center;
	padding: 1em;
	display:inline-block;
	margin: 1em;
	border: black 1px solid;
	font-size: 1.5em;
	font-style: italic;
	font-weight: bold;
}

div {
	font-size 1.2em;
	width: 50%;
	margin: 1em;

}

section.rockonly {
	padding: 1em;
	margin: 0;
	line-height: 2em;
	display:inline-block;
	background-color: #E8E8E8;
}

#rock {
	float: left;
	border: black 1px solid;
	padding: 2em;
}

#rockimg {
	float: right;
	width: 40%;
	height: 40%;
}

section.roseonly {
	padding: 1em;
	margin: 0;
	line-height: 2em;
	display:inline-block;
}

#rose {
	float: right;
	width: 40%;
	height: 40%;
	border: black 1px solid;
	padding: 2em;
}

#roseimg {
	float: left;
	width: 50%;
	height: 50%;
}

section.rnronly {
	padding: 1em;
	margin: 0;
	line-height: 2em;
	display:inline-block;
	background-color: #E8E8E8;
}

#rnr {
	float: left;
	border: black 1px solid;
	padding: 2em;
}

#rnrimg {
	float: right;
	width: 40%;
	height: 40%;
}

section.soulonly {
	padding: 1em;
	margin: 0;
	line-height: 2em;
	display:inline-block;
}

#soul {
	float: right;
	width: 40%;
	height: 40%;
	border: black 1px solid;
	padding: 2em;
}

#soulimg {
	float: left;
	width: 50%;
	height: 50%;
}

.clearfix:after { 
	content: "."; 
	visibility: hidden; 
	display: block; 
	height: 0; 
	clear: both;
}