* { margin:0;padding:0;box-sizing:border-box; }

body {
	background-color:white;
	color: black;
	font-family: helvetica, verdana, sans-serif;
	font-size: 18px;
	line-height: 1.3em;
}

header {
	background: white;
	background-size: cover;
	color: white;
	font-family: Helvetica;
	height: 450px;
	text-align: center;
}

header nav a {
	background-color: black;
	border: white solid 1px;
	color: #fff;
	float: left;
	margin: 0;
	paddin: 2em;
	text-decoration: none;
	display: inline-block;
}

ul {
    list-style-type: none;
}

section#splash {
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment:fixed;
	color:#ffffff;
	height:100vh;
}

.clearfix:after { 
	content: "."; 
	visibility: hidden; 
	display: block; 
	height: 0; 
	clear: both;
}