@import url(http://fonts.googleapis.com/css?family=Lekton:400,700,400italic);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic);
@import url(http://fonts.googleapis.com/css?family=IM+Fell+Great+Primer);
* { margin:0;padding:0;box-sizing:border-box; }
body {
	text-align: center;
	color: #333;
	font-size: 18px;
	font-family: 'IM Fell Great Primer', serif;
}

#nav {
	width:800px;
	margin:0 auto;
	list-style:none;
}

#nav ul {
	text-align: center;
}

#nav li {
	float: left;
}

#nav a {
	display:inline-block;
	text-align:center;
	width:120px; 
	text-decoration:none; 
}

section nav a {
	color: #000000;
}

section {
	border:1px solid #000;
	padding:5em 0 5em 0;
}
section#splash {
	background: url("images/albertdock.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment:fixed;
	color:#000000;
	height:100vh;
	width: 100%;
}

h1 {
	text-align: center;
	font-size: 3em;
	text-transform: lowercase;
	font-family: 'Lekton', sans-serif;
	margin-top: 3em;
}

#slogan{
	font-style: italic;
	font-size: 1.5em;
	font-weight: bold;
	font-family: 'Open Sans Condensed', sans-serif;
	text-align: center;
	margin-top: 1em;
	text-transform: lowercase;
}
#bulletpoint{
	text-align: left;
}

img {
	width: 15%;
	height: 15%;
	margin: 1em;
}

.clearfix:after { 
	content: "."; 
	visibility: hidden; 
	display: block; 
	height: 0; 
	clear: both;
}

@media only screen and (min-width:320px) {
	#splash {
		background-image: 100%;
	}
}
